footer {
    margin-top: 20px;
    width: 100vw;
    height: 15vh;
    display: flex;
    flex-direction: column;
    background-color: #323232;
    color: white;
    justify-content: center;
    align-items: center;
}

.footer-links {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1%;
}

.footer-links a {
    color: white;
    text-decoration: none;
}